<div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark custom-navbar shadow-sm">
    <a class="navbar-brand" href="#">MyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/expenses" routerLinkActive="active">
            <i class="fas fa-money-bill-wave"></i> Dépenses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/budget" routerLinkActive="active">
            <i class="fas fa-wallet"></i> Budget
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Contenu de la page -->
  <router-outlet></router-outlet>
</div>
